<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="franka_panda_torque" params="name prefix use_sim:=^|true use_gripper:=^|true slowdown:=2.0">

    <ros2_control name="${name}" type="system">

      <xacro:if value="$(arg use_sim)">
        <hardware>
          <plugin>minke_contact_ros/MinkeContactInterface</plugin>
        </hardware>
      </xacro:if>
      <xacro:unless value="$(arg use_sim)">
	<!-- todo: replace with actual hardware interface -->
        <hardware>
          <plugin>ros2_control_demo_hardware/RRBotSystemPositionOnlyHardware</plugin>
          <param name="example_param_hw_start_duration_sec">2.0</param>
          <param name="example_param_hw_stop_duration_sec">3.0</param>
          <param name="example_param_hw_slowdown">${slowdown}</param>
        </hardware>
      </xacro:unless>

      <joint name="panda_joint1">
        <command_interface name="effort">
          <param name="min">-87</param>
          <param name="max">87</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="panda_joint2">
        <command_interface name="effort">
          <param name="min">-87</param>
          <param name="max">87</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="panda_joint3">
        <command_interface name="effort">
          <param name="min">-87</param>
          <param name="max">87</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="panda_joint4">
        <command_interface name="effort">
          <param name="min">-87</param>
          <param name="max">87</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="panda_joint5">
        <command_interface name="effort">
          <param name="min">-12</param>
          <param name="max">12</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="panda_joint6">
        <command_interface name="effort">
          <param name="min">-12</param>
          <param name="max">12</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="panda_joint7">
        <command_interface name="effort">
          <param name="min">-12</param>
          <param name="max">12</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <xacro:if value="$(arg use_gripper)">
	<joint name="panda_finger_joint1">
          <command_interface name="effort">
            <param name="min">-20</param>
            <param name="max">20</param>
          </command_interface>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
	</joint>
	<joint name="panda_finger_joint2">
          <command_interface name="effort">
            <param name="min">-20</param>
            <param name="max">20</param>
          </command_interface>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
	</joint>
      </xacro:if>
    </ros2_control>

  </xacro:macro>

</robot>
